<div class="container mt-4">
  <h2>Calcular Melhor Rota</h2>
  <button class="btn btn-secondary mt-3" (click)="cancelar()">Cancelar</button>
  <button class="btn btn-primary mt-3" (click)="calcularMelhorRota()">
    Calcular
  </button>

  <br /><br />
  <div class="form-group">
    <label for="origem">Origem:</label>
    <input
      type="text"
      class="form-control"
      id="origem"
      [(ngModel)]="origem"
      name="origem"
      required
    />
  </div>

  <div class="form-group">
    <label for="destino">Destino:</label>
    <input
      type="text"
      class="form-control"
      id="destino"
      [(ngModel)]="destino"
      name="destino"
      required
    />
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div *ngIf="rota && rota.caminhos && rota.caminhos.length > 0" class="mt-4">
    <h3>Melhor Rota:</h3>
    <p><strong>Custo: {{ rota.custoTotal }} </strong></p>
    <h4>Percurso:</h4>
    <div class="mt-4">
      <table class="table">

        <thead>
          <tr>
            <th>Id Percurso</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Custo Por Percurso</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let caminho of rota.caminhos">
            <td>{{ caminho.id }}</td>
            <td>{{ caminho.origem }}</td>
            <td>{{ caminho.destino }}</td>
            <td>{{ caminho.custo }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>
